In [73]:
import pandas as pd
import numpy as np
data = pd.read_csv("conversion_rates.csv")

In [74]:
data.head()

   converted group
0          0     B
1          0     B
2          0     A
3          0     B
4          0     A

In [75]:
#汇总AB两组的转化合计
data.groupby('group').sum()

       converted
group
A             90
B             21

In [76]:
#创建一个df对象：converted
converted=data.groupby('group').sum()
converted.index

Index(['A', 'B'], dtype='object', name='group')

In [77]:
#创建一个df对象：viewed，统计一共多少次浏览
viewed=data.groupby('group').count()
viewed

       converted
group
A           1030
B            970

In [78]:
#将viewed‘converted’列重命名为：viewed
viewed.rename({'converted':'viewed'},axis='columns')
viewed

       converted
group
A           1030
B            970

In [79]:
#另外一种写法，创建viewed对象，并将viewed‘converted’列重命名
viewed = data.groupby('group').count().rename({'converted':'viewed'}, axis = 'columns')
viewed.index

Index(['A', 'B'], dtype='object', name='group')

In [80]:
#将converted和viewed两个df对象合并起来，依据group列作为key
stats = converted.merge(viewed, on = 'group')
stats

       converted  viewed
group
A             90    1030
B             21     970

In [103]:
#新增一列‘conversion_ratio，并将转化和浏览相除，获得转化率
stats['conversion_ratio']=stats['converted']/stats['viewed']
stats

       converted  viewed  conversion_ratio
group
A             90    1030          0.087379
B             21     970          0.021649

In [84]:
#将column index转为离row index最近的一列
df=stats.stack(0)
df

group
A      converted             90.000000
       viewed              1030.000000
       conversion_ratio       0.087379
B      converted             21.000000
       viewed               970.000000
       conversion_ratio       0.021649
dtype: float64

In [96]:
#将row index：A，B，转为column index，level也可以设置为0，表示最外层索引
df.unstack(level='group')

group                       A           B
converted           90.000000   21.000000
viewed            1030.000000  970.000000
conversion_ratio     0.087379    0.021649

In [87]:
df['A']['conversion_ratio']

0.08737864077669903

In [98]:
#另一种写法，stats.unstack()相当于全部转为列index，相当于转置的Series，然后再执行一次unstack相当于把-1的索引转为列
stats.unstack().unstack()

                  group
converted         A          90.000000
                  B          21.000000
viewed            A        1030.000000
                  B         970.000000
conversion_ratio  A           0.087379
                  B           0.021649
dtype: float64